<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="static/styles/common.css">
<head>
  <meta charset="UTF-8">
  <title>Biomedical Engineering Minor</title>
</head>
<a href="https://carte.utoronto.ca/" target="_blank"><img src="/static/CARTE_logo.jpg" class="img-fluid"
    style="max-width: 25%"></a>
<h1 style="text-align: center">Education Pathways</h1>

<h2>Biomedical Engineering Minor</h2>
<body>

  <p>
    <b>
      Note: This Biomedical Engineering minor is being merged with the Bioengineering Minor. The new Bioengineering
      Minor requirements will take effect on May 1, 2022.
      Only students who are enrolled in the Biomedical Engineering Minor before April 30, 2022 will be allowed to
      complete the requirements below.
    </b>
  </p>

  <p>
    The Biomedical Engineering Minor is specifically designed for undergraduate engineering students interested in
    applying their engineering knowledge to applications in health care and prepares students for direct entry into the
    applied biomedical engineering industry with particular specialization in biomedical technologies.

    The minor is a specialized program that emphasizes opportunities in fields such as pharmaceutical and therapeutic
    technologies, medical devices, medical diagnostics, health care delivery, health regulatory and policy development,
    medical diagnostic technologies, biomedical devices and bioinformatics.

    Students who successfully complete the Biomedical Engineering Minor will be trained and specialize in areas of
    bioinstrumentation, biostatistics, biomedical laboratory techniques, biological and biomedical imaging, biomaterials
    development and processing, biomechanics and rehabilitation technologies, biosystems and quantitative physiology,
    and cellular, tissue and molecular engineering.

    To help select complementary BME courses that are best aligned with their career objectives, students are provided
    with a faculty mentor upon registration in the minor.
  </p>

  <h3>Enrollment</h3>
  <p>
    Enrolment in this minor is now closed. Students wishing to pursue a minor in this area should consider the new
    <a
      href="https://undergrad.engineering.utoronto.ca/academics-registration/minors-certificates/undergraduate-engineering-minors/new-bioengineering-minor/">
      Bioengineering Minor
    </a>.
  </p>

  <h3>Requirements</h3>
  <p>
    Students in the Biomedical Engineering minor must successfully complete the following course requirements (equaling
    3.0 credits).

    <ol>
    <li>CHE 353H1F: Engineering Biology</li>
    <li>BME 331H1S: Physiological Control Systems</li>
    <li>BME 440H1: Biomedical Engineering Technology & Investigation</li>
    <li>One of the following courses: MIE 439H1S: Biomechanics I or BME 530H1S: Human Whole Body Biomechanics (formerly
    BME 430H1S)</li>
    <li>One of the following fourth year courses: BME 499Y1Y: Applied Research in Biomedical Engineering or BME 498Y1 Y:
    Biomedical Engineering Capstone Design</li>
    </ol>
  </p>

  <h3>Scheduling</h3>
  <p>
    For prerequisite purposes, we recommend students take CHE 353H1F and BME 331H1S in third year and BME 440H1F, MIE
    439H1S or BME 530H1S and BME 498Y1Y or BME 499Y1Y in fourth year. However, this may not fit into each department’s
    academic scheduling for a student’s degree program. As such, it is recommended that a student speak with their
    Academic Advisor to determine the optimal scheduling for their program.
  </p>

  <h3>Notes:</h3>
  <p>
    Contact undergrad.bme@utoronto.ca for more information on how to enroll in BME 498Y or the Thesis option.
    A Biomedical Engineering Minor student may take both BME 499Y1 and BME 498Y1, but only one may count towards the
    minor.
    For Engineering Science students who transferred into another program, BME 205H1 can replace CHE 353H1 and is an
    eligible prerequisite for BME 331H1.
  </p>
</body>

</html>